{{define "footer"}}
<link rel="stylesheet" href="/static/styles/footer.css"/>

<div class="footer-wrapper">
    <!-- Authors Section -->
    <div class="authors-section">
        <h2>Authors</h2>
        <div class="author-list">
            <div class="author">
                <img
                    src="https://learn.zone01kisumu.ke/git/avatars/248ebb81529cc2dcee5e20f60e2e4d24?size=870"
                    alt="Author 1"
                    class="author-img"
                />
                <div class="author-name">Andrew Osindo</div>
            </div>
            <div class="author">
                <img
                    src="https://learn.zone01kisumu.ke/git/avatars/66a1c96842506f18e86220baef15b60e?size=870"
                    alt="Author 2"
                    class="author-img"
                />
                <div class="author-name">Vinolia Andisi</div>
            </div>
        </div>
    </div>
    <!-- Authors-End -->

    <!-- Footer-Start -->
    <footer class="site-footer">
        <div class="footer-content">
            <span>&copy; 2024 Zone01 Kisumu</span>
        </div>
    </footer>
    <!-- Footer-End -->
</div>
{{end}}
