{{define "navbar"}}
<link
    rel="stylesheet"
    href="../static/styles/navbar.css"
/>
<div class="navbar">
    <ul>
        <li>
            <a id="home" href="/">Groupie Tracker</a>
        </li>
    </ul>
    <div class="search-bar">
        <input type="text" id="search-bar" placeholder="search for artist" oninput="searchArtists()" autocomplete="off">
        <ul id="suggestions"></ul> <!-- Suggestions dropdown -->
    </div>
</div>

<script>
// Search for artists as you type
async function searchArtists() {
    const query = document.getElementById('search-bar').value;
    const suggestionsList = document.getElementById('suggestions');

    if (query.length < 2) {
        suggestionsList.innerHTML = ""; // Clear suggestions if query is too short
        return;
    }

    // Fetch search results from the API
    const response = await fetch(`/api/search?q=${query}`);
    const results = await response.json();

    // Clear the suggestions list
    suggestionsList.innerHTML = '';

    // Add search results as suggestions
    results.forEach(artist => {
        const li = document.createElement('li');
        li.textContent = `${artist.Name} - artist/band`;
        suggestionsList.appendChild(li);

        artist.Members.forEach(member => {
            const liMember = document.createElement('li');
            liMember.textContent = `${member} - member`;
            suggestionsList.appendChild(liMember);
        });
    });
}
</script>
{{end}}
