<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <script src="./cmd/main.go">
        artists = [];
      const searchInput = document.getElementById('search-bar'); 
   
      const searchTerm = searchInput.value.toLowerCase();
    return artists.filter(artist => 
        artist.name.toLowerCase().includes(searchTerm) ||
        (hero.biography.fullName && hero.biography.fullName.toLowerCase().includes(searchTerm))
    );

    searchInput.addEventListener('input', () => {
    renderHeroes();
});
    </script>
    
</body>
</html>